* {
  box-sizing: border-box;
}

html, body {
  min-width: 900px;
  min-height: 100vh;
  overflow-x: auto;   /* adds scrollbar instead of squishing */
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url('photo-1425913397330-cf8af2ff40a1.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  display: flex;
  align-items: flex-start;  
  justify-content: flex-end;
  padding-top: 20%;           
}

.logo-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5% 8%;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  margin-top: auto;   /* pushes tagline to bottom */
  color: white;
  font-size: 0.8rem;
}

.logo-box img {
  max-width: 80px;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.section {
  width: 100%;
}

.top {
  height: 37.5%;
  background-color: #f0f0f0; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 60px;
  padding-left: 40px;
}

.top p {
    margin: 0;
    font-size: 1.50rem;
    font-weight: 500;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
}

.middle p {
    margin: 0;
    font-size: 1.50rem;
    font-weight: 500;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px 60px;     
}            

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 0.75rem;
  margin-bottom: 2px;
  font-weight: 500;
}

.form-group input {
  height: 40px;
  width: 300px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding: 0 10px;
}

.form-group input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

#password:invalid, #confirm_password:invalid{
    border-color: red;
}


.bottom {
  height: 37.5%;
  background-color: #f0f0f0; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 40px;
}

.container button {
    width: auto;
    height: 50px;
    font-size: 20px;
    background-color: #596D48;
    padding: 0 50px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.bottom p{
  font-size: 20px;
}

#login {
  text-decoration: none;
  color: olivedrab;
  font-weight: bold;
}